<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Multas Activas
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  
  <ion-list #lista>
    <ion-item-sliding  *ngFor="let pen of penatly  ">
        <ion-item>
              <ion-label> 
                <h3>{{pen.cause | uppercase}} </h3> 
                <p>{{pen.entry_date | date: 'dd/MM/yyyy'}}</p>
              </ion-label>
              <ion-label > 
                <h3>Nombre Resp: </h3> 
                <p>{{pen.name | uppercase}} {{pen.last_name | uppercase}} # {{pen.document}}</p>
              </ion-label>
        </ion-item> 
        <ion-item-options side="end">
          <ion-item-option color="warning" routerLink="/editar_multa/{{pen.id}}">
            <ion-icon color="light" name="pencil-outline" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="start">
          <ion-item-option color="danger" (click)="deletePenalty(pen.id)">
            <ion-icon color="light" name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/new_penalty">
      <ion-icon  name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>