<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" ></ion-back-button> 
    </ion-buttons>
    <ion-title>Agregar Persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="form" > 
        <ion-item>
          <ion-label position="floating">Nombres</ion-label>
          <ion-input formControlName="name" name="name"></ion-input>
          <span color="danger" *ngIf="name.invalid && (name.dirty || name.touched)">Campo Obligatorio</span> 
          
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input formControlName="last_name" name="last_name"></ion-input>
          <span color="danger" *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)">Campo Obligatorio</span> 
          
        </ion-item>
        <ion-item>
          <ion-label position="floating"># Documento</ion-label>
          <ion-input formControlName="document" name="document"></ion-input>
          <span color="danger" *ngIf="document.invalid && (document.dirty || document.touched)">Campo Obligatorio</span> 
          
        </ion-item>
        <ion-item>
          <ion-label position="floating">Placa de Vehículo</ion-label>
          <ion-input formControlName="plate_car" name="plate_car"></ion-input>
          <span color="danger" *ngIf="plate_car.invalid && (plate_car.dirty  || plate_car.touched)">Campo Obligatorio</span> 
          
        </ion-item>
        <ion-item>
          <ion-label position="floating">Modelo del Vehículo</ion-label>
          <ion-input formControlName="model_car" name="model_car"></ion-input>
          <span color="danger" *ngIf="model_car.invalid && (model_car.dirty || model_car.touched)">Campo Obligatorio</span> 
          
        </ion-item>
        
        <br>
        <ion-button (click)="savePerson()" expand="full">Agregar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
